@font-face {
  font-family: 'muse-500';
  src: url('../assets/font/MuseoSans_500.otf');
}
@font-face {
  font-family: 'muse-300';
  src: url('../assets/font/museosansrounded-300-webfont.eot'), url('../assets/font/museosansrounded-300-webfont.ttf'), url('../assets/font/museosansrounded-300-webfont.woff');
}
@font-face {
  font-family: 'opensans';
  src: url('../assets/font/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'opensans-semibold';
  src: url('../assets/font/OpenSans-SemiBold.ttf');
}
body {
  font: "opensans";
  font-size: 14px;
}
* {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 1262px;
  margin: auto;
}
h1 {
  font-family: "muse-500";
  font-size: 26px;
}
/**************** custom *******************/
.op-container {
  margin: 0 70px 0 85px;
}
.btn-primary {
  background-color: transparent;
  color: #61c0bd;
  border: 1px solid #21bec0;
  height: 40px;
}
.btn {
  padding: 10px 26px 10px 24px;
  border: 1px solid #61c0bd;
  color: #61c0bd;
  background: transparent;
  font-size: 14px !important;
}
/*************** nav bar ******************/
nav {
  width: 100%;
  height: 80px;
  background-color: #fff;
  font-family: "muse-500";
}
nav .op-container .logo {
  display: inline-block;
  padding-top: 29px;
}
nav .op-container .logo img {
  height: 25px;
  width: auto;
}
nav .op-container .nav {
  float: right;
  font-family: "muse-500";
  font-size: 14px;
  margin-top: 20px;
  margin-right: -3px;
}
nav .op-container .nav ul li {
  list-style-type: none;
  float: left;
  color: #000;
}
nav .op-container .nav ul li .nav-link {
  color: #000;
  padding: 11px 35px;
}
nav .op-container .nav ul li #about {
  margin-right: -38px;
}
nav .op-container .nav ul li .btn {
  padding: 9px 27px 8px 23px;
}
/*************** header ********************/
header {
  overflow-x: hidden;
  color: #fff;
}
header .header-container {
  position: relative;
  text-align: center;
}
header .header-container .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
header .header-container .content h1 {
  font-family: "muse-300";
  font-size: 55px;
  margin-bottom: 25px;
  margin-top: 75px;
}
header .header-container .content p {
  font-family: "opensans";
  font-size: 17px;
  margin: 0;
}
header .header-container .content #p1 {
  line-height: 1.8;
  margin: -2px 0 0 -2px;
}
header .header-container .content #p1 #span1 {
  margin-left: -16px;
}
header .header-container .content #p1 #span2 {
  margin-left: 3px;
}
header .header-container .content #p1 #span3 {
  margin-right: -19px;
}
header .header-container .content #p1 span:last-child {
  margin-left: 4px;
  line-height: 1.9;
}
header .header-container .content #p2 {
  margin-top: 26px;
  font-size: 14px !important;
  line-height: 1.6;
  margin-left: 5px;
}
header .header-container .content #p2 #span2 {
  margin-right: 3px;
}
header .header-container .content #p2 #span4 {
  margin-right: 3px;
}
header .header-container .content #p2 #span5 {
  line-height: 1.8;
  margin-left: -3px;
}
header .header-container .content p:last-child {
  margin-top: 22px;
}
header .footer {
  width: 100%;
  height: 114px;
  background-color: #f1f2f6;
  color: #000;
}
header .footer .op-container .left {
  margin: 30px 0;
  float: left;
}
header .footer .op-container .left span {
  font-family: "muse-500";
  font-size: 17px;
  font-weight: bold;
}
header .footer .op-container .left span:first-child {
  color: #61c0bd;
  letter-spacing: -0.3px;
}
header .footer .op-container .left #date {
  margin-left: 5px;
  letter-spacing: -0.3px;
}
header .footer .op-container .left #date sup {
  font-size: 66%;
  margin-left: -1px;
}
header .footer .op-container .left p {
  margin-top: 4px;
  letter-spacing: 0.25px;
}
header .footer .op-container a {
  float: right;
  background-color: #61c0bd;
  color: #fff;
  margin: 38px -2px;
  padding: 9px 18px 9px 19px;
  letter-spacing: 0.8px;
}
/**************** get involved ***************/
#getInvolved {
  width: 100%;
  height: 400px;
  background-color: #fff;
}
#getInvolved .op-container {
  text-align: center;
}
#getInvolved .op-container .name {
  padding-top: 22px;
}
#getInvolved .op-container .name h3 {
  font-family: "muse-500";
  font-size: 26px;
  margin-left: -8px;
}
#getInvolved .op-container .group {
  margin-top: 45px;
}
#getInvolved .op-container .group h4 {
  font-family: "muse-500";
  font-size: 17px;
  margin-top: 47px;
}
#getInvolved .op-container .group p {
  font-family: "muse-500";
  margin-top: 15px;
  line-height: 1.6;
}
#getInvolved .op-container .group a {
  margin-top: 7px;
  padding: 9px 48px;
  letter-spacing: 0.5px;
}
#getInvolved .op-container .group #slack img {
  margin-top: -6px;
  margin-left: 2px;
}
#getInvolved .op-container .group #slack h4 {
  margin-top: 37px;
}
#getInvolved .op-container .group #slack p {
  padding-left: 4px;
}
#getInvolved .op-container .group #slack a {
  padding: 10px 55px;
}
#getInvolved .op-container .group #google h4 {
  margin: 34px;
  padding-left: 5px;
}
#getInvolved .op-container .group #google p {
  margin-top: -19px;
  padding-left: 6px;
}
#getInvolved .op-container .group #google a {
  margin-left: 7px;
  padding: 9px 46px;
}
/***************** mission section ******************/
#our-mission {
  height: 475px;
  background-color: #f1f2f6;
  margin-top: 20px;
}
#our-mission .op-container {
  padding-top: 35px;
  margin-left: 75px;
}
#our-mission .op-container .header {
  font-family: "opensans";
}
#our-mission .op-container .header h1 {
  font-size: 26px;
}
#our-mission .op-container .header p {
  margin-top: 29px;
  margin-left: -4px;
}
#our-mission .op-container .header p:last-child {
  margin: 20px -6px 20px -10px;
  font-size: 17px;
  letter-spacing: -0.1px;
}
#our-mission .op-container .footer {
  margin: 45px -2px 45px 22px;
}
#our-mission .op-container .footer .row .col-md-4 img {
  position: relative;
}
#our-mission .op-container .footer .row .col-md-4 .text {
  position: absolute;
  top: 104px;
  left: 28px;
  right: 0;
}
#our-mission .op-container .footer .row .col-md-4 .text h5 {
  color: #5AC0CF;
  margin-left: -18px;
  letter-spacing: -0.9px;
}
#our-mission .op-container .footer .row .col-md-4 .text p {
  margin-top: 14px;
  letter-spacing: 0.4px;
  line-height: 1.6;
}
#our-mission .op-container .footer .row #mission1 {
  margin-left: -12px;
}
#our-mission .op-container .footer .row #mission1 h5 {
  margin-left: -27px;
}
#our-mission .op-container .footer .row #mission1 p {
  margin-left: -24px;
}
#our-mission .op-container .footer .row #mission2 {
  margin-left: 4px;
}
#our-mission .op-container .footer .row #mission2 h5 {
  margin-left: -24px;
}
#our-mission .op-container .footer .row #mission2 p {
  margin-left: -20px;
}
#our-mission .op-container .footer .row #mission3 {
  margin-left: 5px;
}
#our-mission .op-container .footer .row #mission3 h5 {
  margin-left: -25px;
}
#our-mission .op-container .footer .row #mission3 p {
  margin-left: -22px;
}
#our-mission .op-container hr {
  margin-top: 50px;
}
/************** our member section ******************/
#our-members {
  height: 282px;
  background-color: #f1f2f6;
}
#our-members .op-container {
  padding-top: 50px;
}
#our-members .op-container h1 {
  margin: -2px 0 0 -18px;
}
#our-members .op-container #members-slider {
  margin: auto;
}
#our-members .op-container #members-slider img {
  width: 140px;
  height: auto;
  margin: auto;
}
#our-members .op-container #members-slider #img1 {
  height: 53px;
  width: auto;
  margin: 50px 4px;
}
#our-members .op-container #members-slider #img2 {
  height: 22px;
  width: auto;
  margin: 64px 19px;
}
#our-members .op-container #members-slider #img3 {
  height: 33px;
  width: auto;
  margin: 57px 58px;
}
#our-members .op-container #members-slider #img4 {
  height: 81px;
  width: auto;
  margin: 30px 87px;
}
#our-members .op-container #members-slider #img5 {
  height: 103px;
  width: auto;
  margin: 21px 86px;
}
#our-members .op-container .owl-carousel .owl-dots.disabled {
  display: inline-block;
  margin: 0px 6px;
}
#our-members .op-container .owl-theme .owl-dots .owl-dot.active span,
#our-members .op-container .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #61c0bd !important;
  width: 11px;
  height: 11px;
}
#our-members .op-container .owl-theme .owl-dots .owl-dot span {
  background-color: #979eb1 !important;
  width: 11px;
  height: 11px;
}
#blog h1 {
  margin: 25px 0 35px -5px;
}
#blog #blog-content {
  margin-top: -13px;
  letter-spacing: -0.3px;
}
#blog #blog-content .item a {
  color: #5fc0c3;
  float: left;
  margin-top: 6px;
  margin-bottom: -1px;
  letter-spacing: 0.1px;
}
#blog #blog-content .item a h5 {
  font-family: "opensans-semibold";
  font-size: 14px;
}
#blog #blog-content .item hr {
  clear: both;
}
#blog #blog-content .item p {
  float: left;
  font-family: "opensans-semibold";
  margin-bottom: 2px;
}
#blog #blog-content .item p:last-child {
  margin-top: 21px;
}
#blog #blog-content #item2 {
  margin-left: 5px;
}
#blog #blog-content #item3 {
  margin-left: 10px;
}
#blog #blog-content #item4 {
  margin-left: 16px;
}
#footer {
  height: 140px;
  background-color: #454850;
  font-family: "muse-500";
  color: #969eb6;
  margin-top: 31px;
}
#footer .logo-socials {
  font-size: 19px;
  color: #5fc0c3;
  padding-top: 28px;
}
#footer .logo-socials i {
  margin-left: 16px;
}
#footer .logo-socials i:first-child {
  margin-left: -14px;
}
#footer p a {
  color: #4f8893;
}
#footer p:last-child {
  margin: 27px 10px 10px -7px;
}
