@font-face {
    font-family: 'muse-500';
    src: url('../assets/font/MuseoSans_500.otf');
}
@font-face {
    font-family: 'muse-300';
    src: url('../assets/font/museosansrounded-300-webfont.eot'),
    url('../assets/font/museosansrounded-300-webfont.ttf'),
    url('../assets/font/museosansrounded-300-webfont.woff');
}
@font-face {
    font-family: 'opensans';
    src: url('../assets/font/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'opensans-semibold';
    src: url('../assets/font/OpenSans-SemiBold.ttf');
}

@white-color: #fff;
@black-color: #000;
@main-color: #61c0bd;
@border-color: #21bec0;
@bg-color: #f1f2f6;
@muse-500-font: "muse-500";
@muse-300-font: "muse-300";
@opensans-font: "opensans";
@opensans-semibold-font: "opensans-semibold";

body {
    font: @opensans-font;
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1262px;
    margin: auto;
}

h1 {
    font-family: @muse-500-font;
    font-size: 26px;
}

/**************** custom *******************/
.op-container {
    margin: 0 70px 0 85px;
}
.btn-primary {
    background-color: transparent;
    color: @main-color;
    border: 1px solid @border-color;
    height: 40px;
}


.btn {
    padding: 10px 26px 10px 24px;
    border: 1px solid @main-color;
    color: @main-color;
    background: transparent;
    font-size: 14px !important;
}
/*************** nav bar ******************/

nav {
    width: 100%;
    height: 80px;
    background-color: @white-color;
    font-family: @muse-500-font;
    .op-container {
        .logo {
            display: inline-block;
            padding-top: 29px;
            img {
                height: 25px;
                width: auto;
            }
            
        }
        .nav {
            float: right;
            font-family: @muse-500-font;
            font-size: 14px;
            margin-top: 20px;
            margin-right: -3px;
            ul {
                li {
                    list-style-type: none;
                    float: left;
                    color: @black-color;
                    .nav-link {
                        color: @black-color;
                        padding: 11px 35px;
                    }
                    #about {
                        margin-right: -38px;
                    }
                    .btn {
                        padding: 9px 27px 8px 23px;
                    }
                }
            }
        }
    }
}

/*************** header ********************/

header {
    overflow-x: hidden;
    color: @white-color;
    .header-container {
        position: relative;
        text-align: center;
        .content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            h1 {
                font-family: @muse-300-font;
                font-size: 55px;
                margin-bottom: 25px;
                margin-top: 75px;
            }
            p {
                font-family: @opensans-font;
                font-size: 17px;
                margin: 0;
            }
            #p1 {
                line-height: 1.8;
                margin: -2px 0 0 -2px;
                #span1 {
                    margin-left: -16px;
                }
                #span2 {
                    margin-left: 3px;
                }
                #span3 {
                    margin-right: -19px;
                }
                span:last-child {
                    margin-left: 4px;
                    line-height: 1.9;
                }
            }
            #p2 {
                margin-top: 26px;
                font-size: 14px !important;
                line-height: 1.6;
                margin-left: 5px;
                #span2 {
                    margin-right: 3px;
                }
                #span4 {
                    margin-right: 3px;
                }
                #span5 {
                    line-height: 1.8;
                    margin-left: -3px;
                }
            }
            p:last-child {
                margin-top: 22px;
            }
        }
    }
    
    .footer {
        width: 100%;
        height: 114px;
        background-color: @bg-color;
        color: @black-color;
        .op-container {
            .left {
                margin: 30px 0;
                float: left;
                span {
                    font-family: @muse-500-font;
                    font-size: 17px;
                    font-weight: bold;
                }
                span:first-child {
                    color: @main-color;
                    letter-spacing: -0.3px;
                }
                #date {
                    margin-left: 5px;
                    letter-spacing: -0.3px;
                    sup {
                        font-size: 66%;
                        margin-left: -1px;
                    }
                }
                p {
                    margin-top: 4px;
                    letter-spacing: 0.25px;
                }                
            }
            a {
                float: right;
                background-color: @main-color;
                color: @white-color;
                margin: 38px -2px;
                padding: 9px 18px 9px 19px;
                letter-spacing: 0.8px;
            }
        }
    }
}

/**************** get involved ***************/

#getInvolved {
    width: 100%;
    height: 400px;
    background-color: @white-color;
    .op-container {
        text-align: center;
        .name {
            padding-top: 22px;
            h3 {
                font-family: @muse-500-font;
                font-size: 26px;
                margin-left: -8px;
            }
        }
        .group {
            margin-top: 45px;
            h4 {
                font-family: @muse-500-font;
                font-size: 17px;
                margin-top: 47px;
            }
            p {
                font-family: @muse-500-font;
                margin-top: 15px;
                line-height: 1.6;
            }
            a {
                margin-top: 7px;
                padding: 9px 48px;
                letter-spacing: 0.5px;
            }
            #slack {
                img {
                    margin-top: -6px;
                    margin-left: 2px;
                }
                h4 {
                    margin-top: 37px;
                }
                p {
                    padding-left: 4px;
                }
                a {
                    padding: 10px 55px;
                }
            }
            #google {
                h4 {
                    margin: 34px;
                    padding-left: 5px;
                }
                p {
                    margin-top: -19px;
                    padding-left: 6px;
                }
                a {
                    margin-left: 7px;
                    padding: 9px 46px;
                }
            }
        }
    }
}

/***************** mission section ******************/

#our-mission {
    height: 475px;
    background-color: @bg-color;
    margin-top: 20px;
    .op-container {
        padding-top: 35px;
        margin-left: 75px;
        .header {
                font-family: @opensans-font;
                h1 {
                    font-size: 26px;
                }
                p {
                    margin-top: 29px;
                    margin-left: -4px;
                }
                p:last-child {
                    margin: 20px -6px 20px -10px;
                    font-size: 17px;
                    letter-spacing: -0.1px;
                }
        }
        .footer {
            margin: 45px -2px 45px 22px;
            .row {
                .col-md-4 {
                    img {
                        position: relative;
                    }
                    .text {
                        position: absolute;
                        top: 104px;
                        left: 28px;
                        right: 0;
                        h5 {
                            color: #5AC0CF;
                            margin-left: -18px;
                            letter-spacing: -0.9px;
                        }
                        p {
                            margin-top: 14px;
                            letter-spacing: 0.4px;
                            line-height: 1.6;
                        }
                    }
                }
                #mission1 {
                    margin-left: -12px;
                    h5 {
                        margin-left: -27px;
                    }
                    p {
                        margin-left: -24px;
                    }
                }
                #mission2 {
                    margin-left: 4px;
                    h5 {
                        margin-left: -24px;
                    }
                    p{
                        margin-left: -20px;
                    }
                }
                #mission3 {
                    margin-left: 5px;
                    h5 {
                        margin-left: -25px;
                    }
                    p {
                        margin-left: -22px;
                    }
                }
            }
        }
    
        hr {
            margin-top: 50px;
        }
    }
}

/************** our member section ******************/

#our-members {
    height: 282px;
    background-color: @bg-color;
    .op-container {
        padding-top: 50px;
        h1 {
            margin: -2px 0 0 -18px;
        }
        #members-slider {
            margin: auto;
            img {
                width: 140px;
                height: auto;
                margin: auto;
            }
            #img1 {
                height: 53px;
                width: auto;
                margin: 50px 4px;
            }
            #img2 {
                height: 22px;
                width: auto;
                margin: 64px 19px;
            }
            #img3 {
                height: 33px;
                width: auto;
                margin: 57px 58px;
            }
            #img4 {
                height: 81px;
                width: auto;
                margin: 30px 87px;
            }
            #img5 {
                height: 103px;
                width: auto;
                margin: 21px 86px;
            }
        }
        .owl-carousel .owl-dots.disabled {
            display: inline-block;
            margin: 0px 6px;

        }
        .owl-theme .owl-dots .owl-dot.active span,
        .owl-theme .owl-dots .owl-dot:hover span {
            background-color: @main-color !important;
            width: 11px;
            height: 11px;
        }

        .owl-theme .owl-dots .owl-dot span{
            background-color: #979eb1 !important;
            width: 11px;
            height: 11px;
        } 
    }
}

#blog {
    h1 {
        margin: 25px 0 35px -5px;
    }
    #blog-content {
        margin-top: -13px;
        letter-spacing: -0.3px;
        .item {
            a {
                color: #5fc0c3;
                float: left;
                margin-top: 6px;
                margin-bottom: -1px;
                letter-spacing: 0.1px;
                h5 {
                    font-family: @opensans-semibold-font;
                    font-size: 14px;
                }
            }
            hr {
                clear: both;
            }
            p {
                float: left;
                font-family: @opensans-semibold-font;
                margin-bottom: 2px;
            }
            p:last-child {
                margin-top: 21px;
            }
        }
        #item2 {
            margin-left: 5px;
        }
        #item3 {
            margin-left: 10px;
        }
        #item4 {
            margin-left: 16px;
        }
    }
}

 #footer {
     height: 140px;
     background-color: #454850;
     font-family: @muse-500-font;
     color: #969eb6;
     margin-top: 31px;
     .logo-socials {
        font-size: 19px;
        color: #5fc0c3;
        i {
            margin-left: 16px;
        }
        i:first-child {
            margin-left: -14px;
        }
        padding-top: 28px;
     }
     p {
         a {
             color: #4f8893;
         }
     }

     p:last-child {
         margin: 27px 10px 10px -7px;
     }
}

